﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#example {
    padding: 30px;
}

#example input {
    width: 300px;
}

#example .k-dropdown {
    width: 281px;
}

#saveButton {
    display: block;
    margin-top: 30px;
    width: 120px;
}

#gridContainer {
    padding: 30px;
    height: 80vh;
}

.k-tooltip-validation {
    margin-left: 18px;
}