﻿@{
    ViewBag.Title = "Demo - formularz zlecenia";
}

<div id="example" role="application">
    <div class="alert alert-success" role="alert" data-bind="visible: isSuuccessAlertVisible">
        Zgłoszenie zostało dodane do <a href="@Url.Action("OrdersList", "Home")" class="alert-link">listy</a>
    </div>
    <div class="demo-section k-content">

        
            <h4>Tytuł</h4>
            <input id="title" name ="title" data-bind="value: order.title" class="k-textbox" required validationMessage="Tytuł jest wymagany" />

            <h4>Opis</h4>
            <input id="comment" name ="comment" data-bind="value: order.comment" class="k-textbox" required validationMessage="Opis jest wymagany"/>

            <h4>Priorytet</h4>

            <input id="priority"
                   data-role="dropdownlist"
                   data-text-field="Name"
                   data-value-field="Id"
                   data-bind="value: order.priorityId, source: prioritiesSource"
                   />

            <h4>Typ zgłoszenia</h4>
            <input id="orderType"
                   data-role="dropdownlist"
                   data-text-field="Name"
                   data-value-field="Id"
                   data-bind="value: order.orderTypeId, source: orderTypesSource"
                  />

            <button id="saveButton" data-role="button" data-icon="save" data-bind="events: { click: save }">
                Zapisz
            </button>
        
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/viewmodels/vm.orderForm.js"></script>
    <script>
        $(document).ready(function () {

            var orderFormVM = new orderFormVieModel($("#example"));
            kendo.bind($("#example"), orderFormVM.getModel());
           
        });
    </script>
}







