﻿@{
    ViewBag.Title = "Demo - lista zleceń";
}

<div id="gridContainer">
    <div data-role="grid"
         data-columns="[
                                 { 'field': 'Title', 'title': 'Tytuł',  'width': 270 },
                                 { 'field': 'Comment', 'title': 'Opis' },
                        { 'field': 'Priority', 'title': 'Priorytet' },
                        { 'field': 'OrderType', 'title': 'Typ zlecenia' }
                              ]"
         data-bind="source: orders"
         style="height: 80%"></div>
</div>

@section scripts
    {
    <script>
        var viewModel = kendo.observable({
            orders: datasources.orders
        });

        kendo.bind($("#gridContainer"), viewModel);
</script>
    }